<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAe3M4nlGCYRiAnOjSmmS6aFYMvjypdGxc</string>
	<key>GCM_SENDER_ID</key>
	<string>477370392345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GnbProject.app</string>
	<key>PROJECT_ID</key>
	<string>gnb-project-72b87</string>
	<key>STORAGE_BUCKET</key>
	<string>gnb-project-72b87.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477370392345:ios:de8279aadc80d6bb35ef88</string>
</dict>
</plist>